@use '/src/styles/constants/colors';

.movieList {
  margin: 20px 0;
  display: flex;
  column-gap: 30px;
  padding: 20px;
  width: 338px;
  height: 200px;
  background: linear-gradient(142deg, colors.$START 0%, colors.$MIDDLE 20%, colors.$END 100%);
  box-shadow: 3px 3px 10px 2px colors.$SHADOW;
  border-radius: 8px;

  .moviePoster {
    width: 123px;
    height: 160px;
    background-color: colors.$WHITE;
    border-radius: 5px;
  }

  .movieDetailWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 12px;
    height: 100%;

    .movieTitle {
      font-size: 25px;
      font-weight: bold;
      color: colors.$WHITE;
    }

    .movieText {
      display: flex;
      justify-content: start;
      column-gap: 30px;

      dt {
        margin-bottom: 5px;
        font-size: 14px;
        color: rgba(colors.$GRAYB, 0.5);
      }
      dd {
        font-size: 17px;
        font-weight: 600;          
        color: colors.$WHITE;
      }
    }
  }
}